################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1/CommonTest/x64/Debug/CommonTest.tlog
/1/CommonTest/x64/Debug
/1/ipch/COMMONTEST-6dbc554
/1/LogDll/x64/Debug
/1/TrayTest/x64/Debug
/1/x64/Debug
/1/CommonTest.VC.db
/1/CommonTest.VC.VC.opendb
/1/CommonTest/Debug
/1/Debug
/1/LogDll/Debug
/1/TrayTest/Debug
