################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1/CommonTest/x64/Debug/CommonTest.tlog
/1/CommonTest/x64/Debug
/1/ipch/COMMONTEST-6dbc554
/1/LogDll/x64/Debug
/1/TrayTest/x64/Debug
/1/x64/Debug
/1/CommonTest.VC.db
/1/CommonTest.VC.VC.opendb
/1/CommonTest/Debug
/1/Debug
/1/LogDll/Debug
/1/TrayTest/Debug
/1/ipch/TRAYTEST-35e19d62/TRAYTEST-7e2f728c.ipch
/1/.vs
/1/ipch
/2/BoostTest/.vs/BoostTest/v14/.suo
/2/BoostTest/BoostTest/Debug
/2/BoostTest/Debug
/2/BoostTest/ipch/BOOSTTEST-1f9f2128
/2/BoostTest/BoostTest.VC.db
/2/BoostTest/BoostTest.VC.VC.opendb
/TestSomething.cpp
/2/BoostTest/BoostTest/x64/Debug
/2/BoostTest/ipch/BOOSTTEST-24f2dc32
/3/EasylogTest/x64
/3/EasylogTest/Release
/3/EasylogTest/EasylogTest.VC.db
/3/EasylogTest/EasylogTest.VC.VC.opendb
/3/EasylogTest/Debug
/3/EasylogTest/EasylogTest/x64
/3/EasylogTest/EasylogTest/Debug
/3/EasylogTest/EasylogTest/Release
/3/EasylogTest/.vs
/2/BoostTest/BoostTest/Release/BoostTest.tlog
/2/BoostTest/BoostTest/Release
/4/BoostApplicationTest/Debug
/4/BoostApplicationTest/ipch/BOOSTAPPLICATIONTEST-16901ce6
/4/BoostApplicationTest/BoostApplicationTest/Debug/BoostApp.9803E9FC.tlog
/4/BoostApplicationTest/BoostApplicationTest/Debug
/4/BoostApplicationTest/.vs/BoostApplicationTest/v14/.suo
/4/BoostApplicationTest/BoostApplicationTest.VC.db
